.page_layout_exchange
  .page__bunch
    display: flex

  .page__market
    max-width: 360px
    width: 100%

    flex-shrink: 0

  .page__information
    width: 100%

    border-left: 2px solid #0D151D
    box-sizing: border-box
