block vars

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title #{title}

        link(href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet")
        link(href="css/bundle.min.css", rel="stylesheet")

    body
        div(class="page page_layout_" + layout)
            block content

        script(src="js/bundle.min.js")
