extends ./contains/default

block vars
    - const title='Exchange'
    - const layout='exchange'

block content
    div(class="page__header")
        include ../blocks/header/header

    div(class="page__bunch")
        div(class="page__market")
            include ../blocks/market-list/market-list

        div(class="page__information")
            include ../blocks/bunch-information/bunch-information
