extends ./contains/default

block vars
    - const title='Exchange'
    - const layout='exchange'

block content
    include ../blocks/header/header
    include ../blocks/bunch-information/bunch-information
