include ../../core/bemto

// .trade-history
+b("div")(class="trade-history")
    +e("h3")(class="heading") Trade history
    +e("div")(class="overflow")
        +e("div")(class="content")
            +e("table")(class="table")
                +e("thead")
                    +e("tr")
                        +e("th") Trade size
                        +e("th") Price(USDT)
                        +e("th") Tine

                +e("tbody")
                    +e("tr")(class="tr _red")
                        +e("th")(class="th _red") 0.<span>6802</span>
                        +e("th")(class="th _red") 231.<span>95</span> <i class="icon-arrow-right-bottom" />
                        +e("th")(class="th _red") 22:08:47

                    +e("tr")(class="tr _green")
                        +e("th")(class="th _green") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _green") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47

                    +e("tr")(class="tr")
                        +e("th")(class="th") 0.<span>6802</span>
                        +e("th")(class="th _green") 231.<span>95</span> <i class="icon-arrow-right-top" />
                        +e("th")(class="th _dark") 22:08:47
// #.trade-history
