include ../../core/bemto

// .bunch-information
+b("div")(class="bunch-information")
    +e("div")(class="item")
        +e("span")(class="value") 273.89 <span>≈$9,125.20 </span>
        +e("span")(class="label") Last price

    +e("div")(class="item")
        +e("span")(class="value _green") +18.49%
        +e("span")(class="label") 24H price

    +e("div")(class="item")
        +e("span")(class="value") 275.99
        +e("span")(class="label") 24H High

    +e("div")(class="item")
        +e("span")(class="value") 262.71
        +e("span")(class="label") 24H Low

    +e("div")(class="item")
        +e("span")(class="value") 628 648.25
        +e("span")(class="label") 24H Volume
// #.bunch-information
