include ../../core/bemto

// .header
+b("header")(class="header")
    +e("a")(href="#", class="homepage")
        +e("img")(src="images/logo.svg", class="logo lazyload")
        +e("span")(class="sitename") OQ Exchange

    +e("div")(class="auth")
        +b("a")(href="#", class="button") Log In
        +b("a")(href="#", class="button _theme_blue") Get started
// #.header
